/*
In the following we use a JSF Expression Language expression rather then plain relative path.
Plain relative paths do not work in JSF portlets. The expression #{resource['...']} is
dynamically evaluated to a proper public URL. The path '/css/background/rf-logo.png'
used in the expression is relative to  resources folder of this web application.
See https://docs.jboss.org/author/display/PBR/Resource+Serving
*/

/* Workaround for https://issues.jboss.org/browse/RF-12499 */
input[type="text"] {
    margin: 0;
}

/* Workaround for https://issues.jboss.org/browse/RF-12499 */
.rf-sel-cntr {
    font-size: 9px;
}

.rf-dt-c {
    font-size: 12px;
}

.pbr-body {
    font: 13px Roboto, arial, sans-serif !important;
}

.rf-p {
    border-style: none !important;
    border-width: 0px !important;
    padding: 0px !important;
}

.rf-p-b {
    font-size: inherit !important;
    padding: 0px !important;
}

.button {
    background: none;
    background-color: #DFDFDF;
    color: #6f6f6f;
    padding: 5px;
    margin: 5px;
    border: 1px #AFAFAF solid;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px !important;
}

.button:hover {
    background-color: #EFEFEF;
    color: #222222;
}

.block {
    display: block;
}

.pnlProfile .rf-p-b {
    padding: 0px !important;
}

.pnlProfile .left {
    background: none repeat scroll 0 0 #000000 !important;
    width: 250px;
    float: left;
    height: 350px;
    text-align: center;
}

.pnlProfile .left span {
    color: #ffffff;
    font-size: 12px !important;
}

.pnlProfile .left .row {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pnlProfile .profileImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.profileCover {
    max-height: 350px;
    overflow: hidden;
}

.pnlProfile .profileName {
    display: block;
    margin-top: 35px;
    margin-bottom: 20px;
}

.pnlProfile .profileName a {
    color: #FFFFFF;
    font-size: 18px;
}

.pnlLogin {
    padding: 10px;
    display: block;
}

.container table {
    width: 300px !important;
}

.container tr td, .container table tr td {
    padding: 5px;
}

.plus-home {
    border: 1px #AFAFAF solid;
}

.padding10 {
    padding: 10px;
}

.margin10 {
    margin: 10px;
}

.width250 {
    width: 250px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.clear {
    clear: both;
    height: 5px !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

/* GOOGLE DRIVE */
.driveContent {
    padding: 10px;
    font-size: 12px !important;
}

.driveContent .fileIcon {

}

.driveContent .fileLabel {
    margin-top: 2px !important;
    line-height: 15px !important;
    display: inline-block !important;
    font-size: 12px !important;
    color: #000000;
}

.driveContent a.fileLabel:hover {
    text-decoration: underline;
}

.driveContent .note {
    font-size: 11px !important;
    margin-left: 5px;
    color: #aFaFaF;
}

.driveContent .strong {
    font-weight: bold !important;
}

.driveContent .tableFiles {
    border: 0px;
    float: left;
    width: 700px;
    margin-bottom: 5px !important;
}

.driveContent .tableFiles tr th {
    text-transform: uppercase !important;
}

.driveContent .tableFiles tr th, .driveContent .tableFiles tr td {
    background: none;
    border: 0px;
    border-bottom: 1px #DFDFDF solid;
    padding: 2px !important;
    padding-top: 3px !important;
    vertical-align: middle !important;
}

.driveContent .panelControls {
    float: left;
    height: 30px;
    padding-left: 130px;
}

.driveContent .menu {
    float: left;
    width: 100px;
    padding: 5px 15px 15px 10px !important;
}

.driveContent .menu .menuItem {
    font-size: 13px;
    color: #000000;
    padding: 2px;
    padding-left: 5px;
}

/* richfaces file upload customization */
.driveContent .rf-fu, .driveContent .rf-fu-hdr {
    background: none !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.driveContent .rf-fu-hdr {
    max-width: 150px !important;
}

.driveContent .rf-fu-lst, .driveContent .rf-fu-btns-rgh {
    display: none !important;
}

.driveContent .rf-fu-btn-add {
    background: none !important;
    border: none !important;
    cursor: pointer !important;
    padding: 0px !important;
    margin: 0px !important;
}

.driveContent .rf-fu-btn-cnt-add {
    background: none #DA4B39 !important;
    border: #DA4B39 !important;
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    border-radius: 3px !important;
    background-position: 0px 0px !important;
    padding: 5px !important;

}

/* FACEBOOK EVENTS */
.eventsContent {
    padding: 10px;
}

.eventsContent .tableEvents {
    border: 0px;
    /*float: left;*/
    margin-left: 10px;
    margin-bottom: 5px !important;
}

.eventsContent .tableEvents tr th {
    text-transform: uppercase !important;
}

.eventsContent .tableEvents tr th, .eventsContent .tableEvents tr td {
    background: none;
    border: 0px;
    border-bottom: 1px #DFDFDF solid;
    padding: 2px !important;
    padding-top: 3px !important;
    vertical-align: middle !important;
}

.eventsPopup .row {
    padding: 5px !important;
}

.eventsPopup .row .label {
    display: block;
    width: 70px;
    float: left;
}

.eventsPopup .row .value {
    display: block;
    float: left;
    width: 270px;
    margin-bottom: 5px;
}

.eventsPopup .row .value .rf-cal-inp {
    width: 250px;
}

.eventsPopup .row .value .rf-au-inp {
    width: 100%;
}

/* FACEBOOK INBOX */
.inboxContent {

}
